:root {
  --primary: #d00000;   
  --secondary: #111111;    
  --accent: #f2c200;    
  --light: #fff;
}


body {
  background-color: var(--secondary);
  color: var(--light);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


header, nav {
  background-color: var(--primary);
  color: var(--light);
  padding: 1rem;
  text-align: center;
  border-bottom: 3px solid var(--accent);
}


a {
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}
a:hover {
  color: var(--accent);
}


main {
  padding: 2rem;
}


h1, h2, h3 {
  color: var(--accent);
  text-transform: uppercase;
}


.card, .box, .item {
  background: var(--primary);
  padding: 1.2rem;
  border-radius: 8px;
  border: 2px solid var(--accent);
  margin-bottom: 1rem;
}


footer {
  background-color: var(--primary);
  border-top: 3px solid var(--accent);
  color: var(--light);
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}
